body {
    background: black;
    margin: 0;
    padding: 0;
}

.gamebox {
    text-align: center;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    text-decoration: underline;
}

.rotate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    text-align: center;
    padding-top: 55%;
}

@media (max-width: 800px) {
    p {
        display: none;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    .gamebox {
        display: none;
    }

    .rotate {
        display: block;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 20px;
    }
}